.header {
	display: flex;
	padding: 0.5rem;
}

.header-title {
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 2.5rem;
}

.header-tagline {
	font-size: 1.5rem;
	line-height: 1.5rem;
	color: #00a6a6;
}

.header-items {
	display: flex;
	flex-grow: 1;
	margin-left: 1rem;
}

.header-item {
	display: flex;
	padding: 0px 1rem;
	align-items: center;
	margin-bottom: 1.5rem;
	cursor: pointer;
	font-weight: 500;
	text-decoration: none;
}

.header-item:visited {
	color: black;
}
.header-item:hover {
	color: #00a6a6;
}

.header-item.--selected {
	color: #00a6a6;
}

@media screen and (max-width: 600px) {
	.header-items {
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 600px) and (max-height: 660px) {
	.header-title {
		font-weight: 500;
		font-size: 2rem;
		line-height: 2rem;
	}

	.header-tagline {
		font-size: 1rem;
		line-height: 1rem;
		color: #00a6a6;
	}

	.header-item {
		margin-bottom: 1rem;
	}
}
