.skills {
	height: 100%;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.skills-plot {
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: calc(50vw - 25vh);
	width: 50vh;
	height: 40%;
}

.skills-content {
	padding: 0 32px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.skills-content-tabs {
	display: flex;
	margin-bottom: 1rem;
	flex-wrap: wrap;
}

.skills-content-tab {
	padding: 8px;
	border: solid 2px black;
	border-radius: 5px;
	margin: 0 4px;
	font-weight: 500;
	cursor: pointer;
	margin-bottom: 0.5rem;
}

.skills-content-text {
	padding: 8px 8px;
}

.apexcharts-datalabels {
	display: none;
}

.apexcharts-datalabels.--selected {
	display: block;
}

.skills-content-experience {
	padding: 0 8px;
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 1rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.skills-content-experience > div:first-of-type {
	margin-right: 1rem;
}

.skills-content-tab-content {
	padding-top: 1rem;
	display: flex;
	flex-grow: 1;
}

.skills-image {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 600px) {
	.skills-plot {
		width: 40vh;
		margin-left: calc(50vw - 20vh);
	}

	.skills-image {
		margin-top: 0;
		margin-right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 600px) and (max-height: 660px) {
	.skills-content-tab-content {
		padding-top: 0.5rem;
	}

	.skills-content-tabs {
		margin-bottom: 0.5rem;
	}

	.skills-plot {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.skills-image {
		margin-top: 0rem;
	}
}
