@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html {
	font-family: 'Ubuntu', sans-serif;
}

body {
	margin: 0px;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

@media screen and (max-width: 600px) {
	html {
		font-size: 10px;
	}
}
