.experience {
	display: flex;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.experience-scroll {
	display: flex;
	position: relative;
	overflow-y: scroll;
	width: 100vw;
}

.experience-years {
	width: 25vw;
	height: 100%;
}

.experience-scroll::-webkit-scrollbar {
	width: 0px;
}

.experience-years-items {
	display: flex;
	flex-direction: column;
}

.experience-year {
	font-size: 3.5rem;
	font-weight: 500;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	color: rgba(0, 116, 116, 0.4);
	flex-grow: 1;
	color: 0;
	height: 600px;
}

.experience-year.--selected {
	color: black;
	font-size: 5rem;
}

.experience-year.--spacer {
	color: rgba(0, 0, 0, 0.2);
}

.experience-content {
	width: 75vw;
	height: 100%;
	overflow-y: hidden;
	position: fixed;
	top: 5rem;
	left: 25vw;
	z-index: -1;
}

.experience-item {
	height: 100%;
}

.experience-title-year {
	font-weight: 500;
	font-size: 1.5rem;
}

.experience-title-text {
	font-size: 2rem;
	font-weight: 500;
	color: #00a6a6;
}

.experience-title-location {
	font-weight: 500;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.experience-text-sub {
	font-weight: 500;
}

.experience-text-bullets li::marker {
	color: #00a6a6;
}

.experience-text-bullets li {
	margin-bottom: 0.5rem;
}

.experience-dummyscroll {
	height: 2000px;
	overflow-y: scroll;
}

.experience-text-bullets li:last-of-type {
	margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
	.experience-year.--selected {
		font-size: 2.5rem;
	}

	.experience-year {
		font-size: 2rem;
		height: 300px;
	}

	.experience-content {
		width: 80vw;
		left: 20vw;
	}

	.experience-years {
		width: 20vw;
	}

	.experience-content {
		padding-right: 1rem;
		box-sizing: border-box;
	}
}

@media screen and (max-width: 600px) and (max-height: 660px) {
	.experience-content {
		top: 4rem;
	}

	.experience-year.--selected {
		font-size: 1.5rem;
	}

	.experience-year {
		font-size: 1rem;
	}

	.experience-content {
		width: 85vw;
		left: 15vw;
	}

	.experience-years {
		width: 15vw;
	}

	.experience-title-year {
		font-size: 1rem;
	}

	.experience-title-text {
		font-size: 1.5rem;
	}

	.experience-title-location {
		font-size: 1rem;
		margin-bottom: 1rem;
	}
	.experience-container br {
		display: none;
	}
}
