.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10vh 15vw;
}

@media screen and (max-width: 600px) and (min-height: 660px) {
	p {
		font-size: 1.4rem;
	}
}
